footer.nes-container.is-dark.is-centered
    img(src='images/magicsword.png')
    .lists
        ul.nes-list
            li:a(href='#') About
            li:a(href='#') Link
            li:a(href='#') Another link