extends base

block content
    h1 About Cursed Swords Emporium 
    p Dolorum quis quibusdam perferendis aut voluptatum et assumenda optio. Et sed est aliquid sit ad eaque corrupti totam. Rerum dolorum amet eum. Modi impedit tenetur velit assumenda eligendi debitis voluptas. 