doctype html
html
    head
        style
            include ../node_modules/nes.css/css/nes.min.css
        title Cursed Swords Emporium - #{item}
        link(href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet')
    body
        section.nes-container.is-dark
            // HEADER            
            include _header

            // CONTENT
            block content
                h1 #{user}

            // FOOTER
            include _footer